@import url(nav.css);
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fbf7ea;
  background-color: #222222;
}
body .mainBlock {
  border: 1px solid #fefed5;
  border-radius: 4px;
  padding: 20px;
  margin: 20px;
}
body .mainBlock .container {
  max-width: 95vw;
  margin: 0 auto;
}
body .mainBlock .container h1 {
  font-size: 90px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}
body .mainBlock .container h2 {
  font-size: 50px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}
body .mainBlock .container h3 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 10px;
}
body .mainBlock .container h4 {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 10px;
}
body .mainBlock .container .mainText {
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 20px;
}
body .mainBlock .container .secText {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 20px;
}
body .mainBlock .container .mainBtn,
body .mainBlock .container .secBtn {
  color: #fbf7ea;
  cursor: pointer;
}
body .mainBlock .container .mainBtn .mainBtn,
body .mainBlock .container .secBtn .mainBtn {
  background: linear-gradient(to right, #f54674, #f348a4);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  margin: auto;
  cursor: pointer;
  border: none;
}
body .mainBlock .container .mainBtn .mainBtn .mainBtn:hover,
body .mainBlock .container .secBtn .mainBtn .mainBtn:hover {
  background: linear-gradient(to left, #f54674, #f348a4);
}
body .mainBlock .container .mainBtn .secBtn,
body .mainBlock .container .secBtn .secBtn {
  background: linear-gradient(to left, #35d0ba, #65efce);
  border: 2px solid #f54674;
}
body .mainBlock .container .mainBtn .secBtn .secBtn:hover,
body .mainBlock .container .secBtn .secBtn .secBtn:hover {
  background: linear-gradient(to left, #65efce, #35d0ba);
}

body {
  background-color: #1f2833;
}

main {
  padding: 150px 0px;
}
main .contenu {
  margin: 0 7.3vw;
}
main .contenu .contact-info {
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  top: 60px;
  left: 100px;
  width: 400px;
  margin-right: 215px;
}
main .contenu .contact-info .blob {
  position: absolute;
  height: 900px;
  width: 900px;
  background-size: contain;
  top: -185px;
  left: -300px;
}
main .contenu .contact-info h1 {
  font-size: 7rem;
}
main .contenu .contact-info p {
  font-size: 2rem;
}
main .contenu .map {
  border: 5px solid #f348a4;
  background-color: #f348a4;
}

@media (min-width: 1193px) and (max-width: 1668px) {
  main {
    padding: 95px 0;
  }
  main .contenu .contact-info {
    left: 90px;
  }
  main .contenu .contact-info .blob {
    position: absolute;
    height: 740px;
    width: 900px;
    background-size: contain;
    top: -160px;
    left: -255px;
  }
  main .contenu .contact-info h1 {
    font-size: 5rem;
  }
  main .contenu .contact-info p {
    font-size: 1.5rem;
  }
  main .contenu .map iframe {
    width: 722px;
    height: 585px;
  }
}/*# sourceMappingURL=contact.css.map */