@import 'style.scss';

body {
    background-color: $deep-blue;
}

main {
    padding: 150px 0px;

    .contenu {
        margin: 0 7.3vw;

        .contact-info {
            height: fit-content;
            position: relative;
            top: 60px;
            left: 100px;
            width: 400px;
            margin-right: 215px;

            .blob {
                position: absolute;
                height: 900px;
                width: 900px;
                background-size: contain;
                top: -185px;
                left: -300px;
            }

            h1 {
                font-size: 7rem;
            }

            p {
                font-size: 2rem;
            }
        }

        .map {
            border: 5px solid #f348a4;
            background-color: #f348a4;
        }
    }
}

@media (min-width: 1193px) and (max-width: 1668px) {
    main {
        padding: 95px 0;

        .contenu {
            .contact-info {
                left: 90px;

                .blob {
                    position: absolute;
                    height: 740px;
                    width: 900px;
                    background-size: contain;
                    top: -160px;
                    left: -255px;
                }

                h1 {
                    font-size: 5rem;
                }

                p {
                    font-size: 1.5rem;
                }
            }

            .map {
                iframe {

                    width: 722px;
                    height: 585px;
                }

            }
        }

    }
}
