
// Variables
$reddish-pink: #f54674;
$pink: #f348a4;
$logo-turquoise: #35d0ba;
$light-turquoise: #65efce;
$almost-white: #fbf7ea;
// $soft-yellow: #fefed5;
$deep-blue: #1f2833;
$almost-black: #222222;

// <nav class="navigation">
// <div class="headLogo">
// <img id="logo" src="<?= asset('images/HIFF_logo.png') ?>"alt="HIFF logo" class="HIFF logo">
// </div>
// <button class="burger-menu"></button>
// <ul class="headLinks">
// <!-- Your existing navigation menu items -->
// </ul>
// <div class="headIcon">
// <!-- Your existing user icon and dropdown menu -->
// </div>
// </nav>



.navigation {
    left: 0px;
    max-width: 100vw;
    min-height: 70px;

    #headBlock {

        display: flex;
        background-color: $deep-blue;
        position: fixed;
        top: 0;
        width: 100%;
        padding: 2.5vh 7.3vw 2.5vh 7.3vw;
        z-index: 10000;

        .burger-menu {
            display: none;
            width: 40px;
            height: 40px;
            border: none;
            //background: transparent url('burger-icon.png') no-repeat center center;
            cursor: pointer;

            @media screen and (max-width: 1200px) {
                &{
                 display: block;
                 background-color: $deep-blue;
                 color: #fbf7ea;
                 }
                }
            }

        .headLogo {
            display: flex;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

            #logo{
                max-height: 9vh;
            }
        }

        .headLinks {
            margin: auto;
            //On doit faire apparaitre le headlink de la navigation en cliquant sur le toggle
            @media screen and (max-width: 1200px) {
                display: none;
            }
            .headList {
                display: inline-block;
                //display: none;
                padding: 10px 20px;


                a.actif {
                    //padding: 2px;
                    text-decoration: underline;
                }
                a {
                    text-decoration: none;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    color: $almost-white;
                    font-size: 1.5rem;
                }

                .dropdown {
                    position: relative;
                    display: inline-block;
                }

                /* Style du contenu du menu déroulant */
                .dropdown-content {
                    display: none;
                    position: absolute;
                    z-index: 10;
                    min-width: 160px;
                    //padding: 5px 0;
                    background-color: $deep-blue;
                    //padding-top: 4vh;
                }

                /* Style des liens dans le contenu du menu déroulant */
                .dropdown-content a {
                    color: $almost-white;
                    padding: 10px 16px;
                    text-decoration: none;
                    display: block;
                    //font-size: small;
                    border-top: #fbf7ea;
                }

                /* Style des liens au survol de la souris */
                .dropdown-content a:hover {
                    background-color: lighten($deep-blue, $amount: 20);
                }

                /* Afficher le contenu du menu déroulant au survol du bouton principal */
                .dropdown:hover .dropdown-content {
                    display: block;
                    padding-top: 4vh;

                }
            }
        }

        .mainBtn {
            background: linear-gradient(to right, $reddish-pink, $pink);
            padding: 1.1vh 2vw 1.3vh;
            //padding: 20px 43px;
            //font-size: 2.5vh;
            font-size: 25px;
            text-align: center;
            text-decoration: none;
            border-radius: 20px;
            margin: auto;
            cursor: pointer;
            color: $almost-white;
            border: none;
        }

        .mainBtn:hover {
            background: linear-gradient(to left, $reddish-pink, $pink);
        }

        .headIcon {
            align-items: center;
            display: flex;

            .dropdown {
                position: relative;
                display: flex;
                //padding: 0.5vh 0.5vw;
                padding: 10px 20px;

                #userId{
                    padding-left: 0.7vw;
                    padding-top: 0.3vh;
                    color: #222222;
                    position: absolute;
                    font-size: 28px;
                    font-weight: bold;
                }

                #userImg,
                #userNone{
                    width: 50px;
                }

            }

            .dropdown-content {
                display: none;
                position: absolute;
                z-index: 1;
                min-width: 160px;
                padding: 5px 0;
                border: 1px solid $almost-black;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                background-color: lighten($deep-blue, $amount: 10);
            }

            /* Style des liens dans le contenu du menu déroulant */
            .dropdown-content a {
                color: $almost-white;
                padding: 10px 16px;
                text-decoration: none;
                display: block;
            }

            /* Style des liens au survol de la souris */
            .dropdown-content a:hover {
                background-color: lighten($deep-blue, $amount: 20);
            }

            /* Afficher le contenu du menu déroulant au survol du bouton principal */
            .dropdown:hover .dropdown-content {
                display: block;
                //margin-top: 8vh;
            }
        }
    }

    .footerBlock {
        display: flex;
        background-color: $light-turquoise;
        padding: 3vh 7.3vw 3vh 7.3vw;
        margin-bottom: 0;
        width: 100vw;

        .footerLogo {
            display: flex;
            color: $almost-black;
            width: 15vw;

            .dudeLogo{
                height: auto;
                max-width: 100%;
            }

        }
        #footerSection{
            display: flex;
            flex-direction: column;
            padding-left: 2vw;

            #footerText {
                display: flex;
                flex-direction: column;
                color: $almost-black;
                max-width: 30vw;

            }

            .socialIcons {
                ul{
                    display: flex;
                    list-style-type: none;
                    padding: 0;
                }
            }
        }

        .footerLinks {
            margin: auto;
            display: flex;
            flex-direction: column;
            margin-inline-start: auto;
            margin-right: 6.8vw;
            text-align: end;

            .footerList {
                display: inline-block;
                //padding: 10px 20px;

                    a {
                        text-decoration: none;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        color: $almost-black;
                        font-size: 25px;
                    }

                    a:hover{
                        color: $logo-turquoise;
                    }
            }
        }
    }
    #copyright-text{
        padding: 0vh 2vw 0vh 10vw;
    }


}
