@charset "UTF-8";
.navigation {
  left: 0px;
  max-width: 100vw;
  min-height: 70px;
}
.navigation #headBlock {
  display: flex;
  background-color: #1f2833;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2.5vh 7.3vw 2.5vh 7.3vw;
  z-index: 10000;
}
.navigation #headBlock .burger-menu {
  display: none;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .navigation #headBlock .burger-menu {
    display: block;
    background-color: #1f2833;
    color: #fbf7ea;
  }
}
.navigation #headBlock .headLogo {
  display: flex;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.navigation #headBlock .headLogo #logo {
  max-height: 9vh;
}
.navigation #headBlock .headLinks {
  margin: auto;
}
@media screen and (max-width: 1200px) {
  .navigation #headBlock .headLinks {
    display: none;
  }
}
.navigation #headBlock .headLinks .headList {
  display: inline-block;
  padding: 10px 20px;
  /* Style du contenu du menu déroulant */
  /* Style des liens dans le contenu du menu déroulant */
  /* Style des liens au survol de la souris */
  /* Afficher le contenu du menu déroulant au survol du bouton principal */
}
.navigation #headBlock .headLinks .headList a.actif {
  text-decoration: underline;
}
.navigation #headBlock .headLinks .headList a {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fbf7ea;
  font-size: 1.5rem;
}
.navigation #headBlock .headLinks .headList .dropdown {
  position: relative;
  display: inline-block;
}
.navigation #headBlock .headLinks .headList .dropdown-content {
  display: none;
  position: absolute;
  z-index: 10;
  min-width: 160px;
  background-color: #1f2833;
}
.navigation #headBlock .headLinks .headList .dropdown-content a {
  color: #fbf7ea;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  border-top: #fbf7ea;
}
.navigation #headBlock .headLinks .headList .dropdown-content a:hover {
  background-color: #465a72;
}
.navigation #headBlock .headLinks .headList .dropdown:hover .dropdown-content {
  display: block;
  padding-top: 4vh;
}
.navigation #headBlock .mainBtn {
  background: linear-gradient(to right, #f54674, #f348a4);
  padding: 1.1vh 2vw 1.3vh;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  margin: auto;
  cursor: pointer;
  color: #fbf7ea;
  border: none;
}
.navigation #headBlock .mainBtn:hover {
  background: linear-gradient(to left, #f54674, #f348a4);
}
.navigation #headBlock .headIcon {
  align-items: center;
  display: flex;
  /* Style des liens dans le contenu du menu déroulant */
  /* Style des liens au survol de la souris */
  /* Afficher le contenu du menu déroulant au survol du bouton principal */
}
.navigation #headBlock .headIcon .dropdown {
  position: relative;
  display: flex;
  padding: 10px 20px;
}
.navigation #headBlock .headIcon .dropdown #userId {
  padding-left: 0.7vw;
  padding-top: 0.3vh;
  color: #222222;
  position: absolute;
  font-size: 28px;
  font-weight: bold;
}
.navigation #headBlock .headIcon .dropdown #userImg,
.navigation #headBlock .headIcon .dropdown #userNone {
  width: 50px;
}
.navigation #headBlock .headIcon .dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 160px;
  padding: 5px 0;
  border: 1px solid #222222;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #324153;
}
.navigation #headBlock .headIcon .dropdown-content a {
  color: #fbf7ea;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}
.navigation #headBlock .headIcon .dropdown-content a:hover {
  background-color: #465a72;
}
.navigation #headBlock .headIcon .dropdown:hover .dropdown-content {
  display: block;
}
.navigation .footerBlock {
  display: flex;
  background-color: #65efce;
  padding: 3vh 7.3vw 3vh 7.3vw;
  margin-bottom: 0;
  width: 100vw;
}
.navigation .footerBlock .footerLogo {
  display: flex;
  color: #222222;
  width: 15vw;
}
.navigation .footerBlock .footerLogo .dudeLogo {
  height: auto;
  max-width: 100%;
}
.navigation .footerBlock #footerSection {
  display: flex;
  flex-direction: column;
  padding-left: 2vw;
}
.navigation .footerBlock #footerSection #footerText {
  display: flex;
  flex-direction: column;
  color: #222222;
  max-width: 30vw;
}
.navigation .footerBlock #footerSection .socialIcons ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}
.navigation .footerBlock .footerLinks {
  margin: auto;
  display: flex;
  flex-direction: column;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  margin-right: 6.8vw;
  text-align: end;
}
.navigation .footerBlock .footerLinks .footerList {
  display: inline-block;
}
.navigation .footerBlock .footerLinks .footerList a {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #222222;
  font-size: 25px;
}
.navigation .footerBlock .footerLinks .footerList a:hover {
  color: #35d0ba;
}
.navigation #copyright-text {
  padding: 0vh 2vw 0vh 10vw;
}/*# sourceMappingURL=nav.css.map */