@charset "UTF-8";
.navigation {
  left: 0px;
  max-width: 100vw;
}
.navigation #headBlock {
  display: flex;
  background-color: #1f2833;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2vh 5vw 2vh 10vw;
  z-index: 10000;
}
.navigation #headBlock .headLogo {
  display: flex;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.navigation #headBlock .headLogo #logo {
  max-height: 7vh;
}
.navigation #headBlock .headLinks {
  margin: auto;
}
.navigation #headBlock .headLinks .headList {
  display: inline-block;
  padding: 10px 20px;
  /* Style du contenu du menu déroulant */
  /* Style des liens dans le contenu du menu déroulant */
  /* Style des liens au survol de la souris */
  /* Afficher le contenu du menu déroulant au survol du bouton principal */
}
.navigation #headBlock .headLinks .headList a.actif {
  text-decoration: underline;
}
.navigation #headBlock .headLinks .headList .dropdown {
  position: relative;
  display: inline-block;
}
.navigation #headBlock .headLinks .headList .dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 160px;
  padding: 5px 0;
  border: 1px solid #222222;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #324153;
}
.navigation #headBlock .headLinks .headList .dropdown-content a {
  color: #fbf7ea;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}
.navigation #headBlock .headLinks .headList .dropdown-content a:hover {
  background-color: #465a72;
}
.navigation #headBlock .headLinks .headList .dropdown:hover .dropdown-content {
  display: block;
}
.navigation #headBlock .headLinks .headList a {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fbf7ea;
  font-size: 1.5rem;
}
.navigation #headBlock .mainBtn {
  background: linear-gradient(to right, #f54674, #f348a4);
  padding: 1.2vh 2vw 1.3vh;
  font-size: 2.5vh;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 24px;
  margin: auto;
  cursor: pointer;
  color: #fbf7ea;
  border: none;
}
.navigation #headBlock .mainBtn:hover {
  background: linear-gradient(to left, #f54674, #f348a4);
}
.navigation #headBlock .headIcon {
  margin: auto;
  /* Style du menu déroulant */
  /* Style du contenu du menu déroulant */
  /* Style des liens dans le contenu du menu déroulant */
  /* Style des liens au survol de la souris */
  /* Afficher le contenu du menu déroulant au survol du bouton principal */
}
.navigation #headBlock .headIcon .dropdown {
  position: relative;
  display: inline-block;
}
.navigation #headBlock .headIcon .dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 160px;
  padding: 5px 0;
  border: 1px solid #222222;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #324153;
}
.navigation #headBlock .headIcon .dropdown-content a {
  color: #fbf7ea;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}
.navigation #headBlock .headIcon .dropdown-content a:hover {
  background-color: #465a72;
}
.navigation #headBlock .headIcon .dropdown:hover .dropdown-content {
  display: block;
}
.navigation #footer {
  margin-bottom: 0;
  width: 100vw;
}
.navigation #footer .footerBlock {
  display: flex;
  background-color: #65efce;
  padding: 0vh 5vh 2vw 10vw;
  width: 100%;
}
.navigation #footer .footerBlock .footerLogo {
  display: flex;
  color: #222222;
}
.navigation #footer .footerBlock .footerLogo #dudeLogo {
  height: 30vh;
}
.navigation #footer .footerBlock #footerSection {
  display: flex;
  flex-direction: column;
}
.navigation #footer .footerBlock #footerSection #footerText {
  display: flex;
  flex-direction: column;
  color: #222222;
}
.navigation #footer .footerBlock #footerSection .socialIcons ul {
  display: flex;
  list-style-type: none;
}
.navigation #footer .footerBlock .footerLinks {
  margin: auto;
  display: flex;
  flex-direction: column;
}
.navigation #footer .footerBlock .footerLinks .footerList {
  display: inline-block;
}
.navigation #footer .footerBlock .footerLinks .footerList a {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #222222;
  font-size: 25px;
}
.navigation #footer #copyright-text {
  padding: 0vh 2vh 0vw 10vw;
}/*# sourceMappingURL=nav.css.map */