@import 'style.scss';

body {
    main {
        margin-top: 4%;

        a {
            color: #fbf7ea;
            display: block;
        }

        .highlighted-news {
            background-position: center;
            background-size: cover;
            height: 850px;
            margin-bottom: 50px;

            .overlay {
                background-color: #2222226a;
                height: 850px;
                position: absolute;
                width: 100%;
            }

            h1 {
                font-size: 75px;
                font-weight: bold;
                left: 39%;
                position: relative;
                top: 35%;
                width: fit-content;
            }

            .content {
                left: 5%;
                position: relative;
                top: 65%;
                width: fit-content;

                h2 {
                    font-weight: bold;
                }

                .festi-line {
                    align-items: center;
                    display: flex;

                    p {
                        margin: 0;
                    }

                    img {
                        height: fit-content;
                    }

                    .date {
                        color: #a8a8a8;
                    }
                }

                .button-header {
                    border: 3px solid $almost-white;
                    font-weight: bold;
                    margin-top: 10px;
                    padding: 15px 35px;
                    width: fit-content;

                    a {
                        text-decoration: none;
                    }
                }

                .button-header:hover {
                    background-color: $almost-white;
                    cursor: pointer;
                    transition: background-color 0.2s ease-in-out;

                    a {
                        color: $almost-black;
                    }
                }
            }
        }

        .container {
            display: grid;
            justify-content: center;
            margin: 0;
            max-width: 2000px;


            .grid {
                margin: 0 auto;
                visibility: hidden;
                width: 100%;

                .grid-item {
                    border: 3px solid #222;
                    margin-bottom: 50px;
                    overflow: hidden;
                    padding: 0px 0px 10px 0px;
                    transition: all 1s ease-in-out;
                    width: 375px;

                    img {
                        max-width: 100%;
                    }

                    .author {
                        color: $light-turquoise;
                    }

                    .date {
                        color: $logo-turquoise;
                    }
                }

                .hidden {
                    opacity: 0;
                    visibility: hidden;
                }

                .grid-item--width2 {
                    transition: all 1s ease-in-out;

                    img {
                        max-width: 100%;
                    }
                }

                .grid-item:hover {
                    img {
                        filter: contrast(75%);
                        transform: scale(1.02);
                        transition: all 0.3s ease-in-out;
                    }
                }

            }

            .button {
                background: linear-gradient(to right, #f54674, #f348a4);
                border: none;
                border-radius: 22px;
                color: #fbf7ea;
                cursor: pointer;
                font-size: 25px;
                font-weight: 600;
                margin: auto;
                padding: 1.3vh 0vw 1.3vh;
                text-align: center;
                text-decoration: none;
                transition: all 0.3s ease-in-out;
                width: 185px;
            }

            .button:hover {
                background: radial-gradient(circle at center, #de3f69, #de4396);
            }
        }

        .article-head {
            background-position: center center;
            background-size: cover;
            height: 425px;
            position: relative;

            .overlay {
                background-color: #2222226a;
                height: 425px;
                position: absolute;
                width: 100%;
            }

            .title {
                left: 50%;
                position: absolute;
                text-align: center;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 95%;
                z-index: 5;

                h1 {
                    color: $almost-white;
                    font-size: 48px;
                    font-weight: bold;

                }

                h4 {
                    margin: 0 50px;
                }
            }

        }

        .band {
            background-color: #35d0b9b7;
            height: 50px;
            width: 100%;
        }

        .article {
            border: 2px solid #ccc;
            border-radius: 10px;
            color: $almost-white;
            margin: 10% 15%;
            padding: 40px;
        }

        .article-header {
            align-items: center;
            display: flex;
            margin-bottom: 10px;

            p {
                margin: 0;
            }

            img {
                height: fit-content;
            }

        }

        .article-author {
            font-size: 24px;
            font-style: italic;
            margin-left: 10px;
        }

        .article-date {
            color: #a8a8a8;
            font-size: 20px;
        }

        .article-content {
            font-size: 22px;
            line-height: 1.5;
            margin-top: 45px;
        }
    }
}

// Media Queries

@media (min-width: 1100px) and (max-width: 1440px) {

    main {
        .highlighted-news {

            h1 {
                left: 35% !important;
            }

            .content {
                top: 60% !important;
                width: 80% !important;
            }
        }
    }
}

@media (min-width: 800px) and (max-width: 1099px) {
    main {
        .highlighted-news {

            h1 {
                left: 32% !important;
            }

            .content {
                top: 60% !important;
                width: 80% !important;
            }
        }
    }
}

@media (min-width: 501px) and (max-width: 799px) {
    main {
        .highlighted-news {

            h1 {
                font-size: 47px !important;
                left: 32% !important;
            }

            .content {
                top: 60% !important;
                width: 80% !important;
            }
        }
    }
}

@media screen and (min-width: 200px) and (max-width: 500px) {
    main {
        .highlighted-news {

            h1 {
                font-size: 40px !important;
                left: 27% !important;
            }

            .content {
                left: 0% !important;
                top: 60% !important;
                width: 80% !important;
            }
        }
    }
}

@media (min-width: 700px) and (max-width: 1000px) {
    main {
        margin-top: 13%;
    }
}

@media screen and (min-width: 200px) and (max-width: 500px) {
    main {
        .article-head {

            .title {
                h1 {
                    font-size: 25px !important;
                }
            }
        }

        .article-header {
            display: inline !important;

            p {
                margin: 0 !important;
            }
        }
    }
}
