@import "style.scss";

body
{
    background-image: url('../images/ticket_background.png');
    background-position: center;
    background-repeat: repeat;
}

main
{
    height: 5000px;
    width: 100%;
}
