@import "style.scss";

body
{
    background-image: url('../images/ticket_background.png');
    background-position: center;
    background-repeat: repeat;
}

main
{
    margin: 0 7.3vw;
    color: $deep-blue;
}

h1
{
    color: $almost-white;
}

.oneThree
{
    width: 85.4vw;
    height: 600px;
    position: relative;
    display: flex;
    align-items: center;

    *
    {
        width: 60%;
        position: absolute;
    }

    .infos
    {
        background-color: rgba(251, 247, 234, 0.9);
        height: 75%;
        left: 0;

        *
        {
            position: relative;
        }
    }

    .img
    {
        height: 600px;
        background-image: url('../images/youtube.icon.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        right: 0;
    }
}
