@import url(nav.css);
body {
  color: #fbf7ea;
  background-color: #222222;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body .mainBlock {
  border: 1px solid #fefed5;
  border-radius: 4px;
  margin: 20px;
  padding: 20px;
}
body .mainBlock .container {
  margin: 0 auto;
  max-width: 95vw;
}
body .mainBlock .container h1 {
  font-size: 90px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0;
}
body .mainBlock .container h2 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0;
}
body .mainBlock .container h3 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 0;
}
body .mainBlock .container h4 {
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 0;
}
body .mainBlock .container .mainText {
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 20px;
}
body .mainBlock .container .secText {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 20px;
}
body .mainBlock .container .mainBtn,
body .mainBlock .container .secBtn {
  color: #fbf7ea;
  cursor: pointer;
}
body .mainBlock .container .mainBtn .mainBtn,
body .mainBlock .container .secBtn .mainBtn {
  background: linear-gradient(to right, #f54674, #f348a4);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin: auto;
  text-align: center;
  text-decoration: none;
}
body .mainBlock .container .mainBtn .mainBtn .mainBtn:hover,
body .mainBlock .container .secBtn .mainBtn .mainBtn:hover {
  background: linear-gradient(to left, #f54674, #f348a4);
}
body .mainBlock .container .mainBtn .secBtn,
body .mainBlock .container .secBtn .secBtn {
  background: linear-gradient(to left, #35d0ba, #65efce);
  border: 2px solid #f54674;
}
body .mainBlock .container .mainBtn .secBtn .secBtn:hover,
body .mainBlock .container .secBtn .secBtn .secBtn:hover {
  background: linear-gradient(to left, #65efce, #35d0ba);
}
body .message {
  align-items: center;
  animation: fadeOut 5000ms linear 3000ms forwards;
  background-color: #fbf7ea;
  border-radius: 13px;
  display: flex;
  height: 50px;
  justify-content: center;
  left: 50%;
  padding: 5px 10px;
  position: absolute;
  top: 200px;
  transform: translateX(-50%);
  z-index: 9999999999999;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
body .error {
  border: 1px #f54674 solid;
  color: #f54674;
}
body .success {
  border: 1px #35d0ba solid;
  color: #35d0ba;
}

@font-face {
  font-family: FormulaCondensed;
  src: url("/fonts/FormulaCondensed-Light.otf") format("truetype");
}
.content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contenu {
  display: flex;
  justify-content: space-between;
  margin-top: 10% !important;
  width: 1640px;
}

.contenu-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  width: 1640px;
}

.schedule {
  margin-right: 2%;
  width: 430px;
}
.schedule .schedule-item p {
  color: #35d0ba;
}

h1 {
  background: linear-gradient(to right, #ff6e97, #fe8c4d);
  color: #ff6e97;
  font-family: FormulaCondensed;
  font-size: 5rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 3rem;
  margin: 0;
}

.line-title {
  background-color: #a8a8a8;
  height: 4px;
  width: 400px;
}

.overlay {
  background: linear-gradient(315deg, rgba(245, 70, 116, 0), rgb(245, 70, 116));
  border-radius: 40px;
  height: calc(100% + 150px);
  left: -150px;
  position: absolute;
  top: -150px;
  width: calc(100% + 150px);
}

.image {
  margin-left: 2%;
  width: 1130px;
}

.img1 {
  background-position: center;
  background-size: cover;
  border-radius: 40px;
  height: 630px;
  overflow: hidden;
  width: 1130px;
}

.text-film {
  left: 50px;
  position: relative;
  top: 115px;
  width: 605px;
}
.text-film h2 {
  font-size: 4.5rem;
  margin-bottom: 85px;
  text-transform: uppercase;
}
.text-film p {
  font-size: 1.5rem;
}

.text-film-med {
  left: 50px;
  position: relative;
  top: 65px;
  width: 360px;
}
.text-film-med h4 {
  font-size: 2rem;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.text-film-med p {
  font-size: 1rem;
}

.small {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 7%;
}

.small-item {
  background-size: cover;
  background-position: center;
  border-radius: 40px;
  height: 380px;
  margin-top: 2%;
  overflow: hidden;
  position: relative;
  width: 537px;
}

.small-img {
  background-position: center;
  background-size: cover;
  height: 180px;
  width: 350px;
}

.title-cat {
  margin-top: 7%;
}

.small-cat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2%;
}
.small-cat .small-cat-content {
  position: relative;
}
.small-cat .small-cat-content .small-img {
  background-size: cover;
  background-position: center;
  height: 180px;
  position: relative;
  width: 350px;
}
.small-cat .small-cat-content p {
  background-color: rgba(53, 208, 185, 0.4156862745);
  bottom: -44px;
  color: #fbf7ea;
  margin: 0;
  padding: 10px;
  width: 100%;
}

.med-img {
  background-position: center;
  background-size: cover;
  height: 335px;
  width: 482px;
}

.grd-img {
  background-size: cover;
  background-position: center;
  border-radius: 40px;
  height: 400px;
  overflow: hidden;
  position: relative;
  width: 760px;
}
.grd-img .text-film-grd {
  left: 50px;
  position: relative;
  top: 65px;
  width: 535px;
}
.grd-img .text-film-grd h4 {
  font-size: 3rem;
  margin-bottom: 55px;
  text-transform: uppercase;
}
.grd-img .text-film-grd p {
  font-size: 1.2rem;
}

.hours {
  width: 350px;
}

.line {
  background-color: #a8a8a8;
  height: 5px;
  margin-top: 7%;
  width: 1400px;
}

.image-bottom {
  width: 1640px;
}

.tickets {
  align-items: center;
  background-color: #1f2833;
  display: flex;
  height: 300px;
  margin-bottom: 10%;
  margin-top: 7%;
  position: relative;
  width: 1640px;
}

.tickets-image {
  align-items: center;
  display: flex;
  justify-content: center;
}

.tickets-image img {
  max-height: 100%;
  max-width: 100%;
}

.tickets-content {
  align-items: flex-start;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 35px;
  padding: 0 30px;
}

.tickets-content h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 25px;
}

.tickets-content h3 {
  font-size: 24px;
  margin-bottom: 40px;
}

.tickets-content button {
  background: linear-gradient(to right, #f54674, #f348a4);
  border: none;
  border-radius: 24px;
  color: #fbf7ea;
  cursor: pointer;
  font-size: 25px;
  font-weight: 600;
  overflow: hidden;
  padding: 14px 35px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
  width: 212px;
  z-index: 1;
}

.tickets-content button a {
  color: #fbf7ea;
  text-decoration: none;
  z-index: 2;
}

.tickets-content button::after {
  background: radial-gradient(circle at center, #de3f69, #de4396);
  border-radius: 50%;
  content: "";
  height: 0;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s cubic-bezier(0.5, 0, 0.5, 1);
  width: 0;
  z-index: -1;
}

.tickets-content button:hover::after {
  height: 300px;
  opacity: 1;
  width: 300px;
}

.tickets::after {
  border: 7px solid #fbf7ea;
  bottom: -63px;
  content: "";
  left: 118px;
  position: absolute;
  right: -73px;
  top: 71px;
  z-index: -1;
}

@media (min-width: 1193px) and (max-width: 1700px) {
  .contenu {
    width: 90%;
  }
  .contenu .image .img1 {
    width: 59vw;
  }
  .contenu .image .small .small-item {
    width: 400px;
  }
  .contenu .image .small .small-item .text-film-med {
    left: 26px;
  }
  .contenu .image .small-cat .small-cat-content .small-img {
    width: 260px;
  }
  .line {
    width: 1300px;
  }
  .contenu-bottom {
    width: 1300px;
  }
  .contenu-bottom .image-bottom .small-cat .small-cat-content .small-img {
    width: 260px;
  }
  .contenu-bottom .image-bottom .small-cat .small-cat-content .med-img {
    width: 400px;
  }
  .contenu-bottom .image-bottom .small .grd-img {
    width: 610px;
  }
  .contenu-bottom .image-bottom .small .grd-img .text-film-grd {
    left: 35px;
  }
  .tickets {
    width: 1205px;
  }
  .tickets .tickets-image img {
    max-height: none;
    max-width: none;
  }
}/*# sourceMappingURL=schedule.css.map */