@import url(nav.css);
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fbf7ea;
  background-color: #222222;
  padding-top: 6rem;
}
body .mainBlock {
  border: 1px solid #fefed5;
  border-radius: 4px;
  padding: 20px;
  margin: 20px;
}
body .mainBlock .container {
  max-width: 95vw;
  margin: 0 auto;
}
body .mainBlock .container h1 {
  font-size: 90px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}
body .mainBlock .container h2 {
  font-size: 50px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}
body .mainBlock .container h3 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 10px;
}
body .mainBlock .container h4 {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 10px;
}
body .mainBlock .container .mainText {
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 20px;
}
body .mainBlock .container .secText {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 20px;
}
body .mainBlock .container .mainBtn,
body .mainBlock .container .secBtn {
  color: #fbf7ea;
  cursor: pointer;
}
body .mainBlock .container .mainBtn .mainBtn,
body .mainBlock .container .secBtn .mainBtn {
  background: linear-gradient(to right, #f54674, #f348a4);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  margin: auto;
  cursor: pointer;
  border: none;
}
body .mainBlock .container .mainBtn .mainBtn .mainBtn:hover,
body .mainBlock .container .secBtn .mainBtn .mainBtn:hover {
  background: linear-gradient(to left, #f54674, #f348a4);
}
body .mainBlock .container .mainBtn .secBtn,
body .mainBlock .container .secBtn .secBtn {
  background: linear-gradient(to left, #35d0ba, #65efce);
  border: 2px solid #f54674;
}
body .mainBlock .container .mainBtn .secBtn .secBtn:hover,
body .mainBlock .container .secBtn .secBtn .secBtn:hover {
  background: linear-gradient(to left, #65efce, #35d0ba);
}

@font-face {
  font-family: FormulaCondensed;
  src: url("/fonts/FormulaCondensed-Light.otf") format("truetype");
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contenu {
  display: flex;
  width: 1640px;
  justify-content: space-between;
  margin-top: 100px;
}

.schedule {
  width: 430px;
  margin-right: 2%;
}

h1 {
  font-family: FormulaCondensed;
  font-size: 5rem;
  color: #ff6e97;
  background: linear-gradient(to right, #ff6e97, #fe8c4d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 3rem;
  margin: 0;
}

.line-title {
  width: 400px;
  height: 4px;
  background-color: #a8a8a8;
}

.overlay {
  width: calc(100% + 150px);
  height: calc(100% + 150px);
  background: linear-gradient(315deg, rgba(245, 70, 116, 0), rgb(245, 70, 116));
  border-radius: 40px;
  position: absolute;
  top: -150px;
  left: -150px;
}

.image {
  width: 1130px;
  margin-left: 2%;
}

.img1 {
  border-radius: 40px;
  height: 630px;
  width: 1130px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.text-film {
  position: relative;
  width: 605px;
  left: 50px;
  top: 115px;
}
.text-film h2 {
  text-transform: uppercase;
  margin-bottom: 85px;
  font-size: 4.5rem;
}
.text-film p {
  font-size: 1.5rem;
}

.text-film-med {
  position: relative;
  width: 360px;
  left: 50px;
  top: 65px;
}
.text-film-med h4 {
  text-transform: uppercase;
  margin-bottom: 25px;
  font-size: 2rem;
}
.text-film-med p {
  font-size: 1rem;
}

.small {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5%;
}

.small-item {
  position: relative;
  margin-top: 2%;
  border-radius: 40px;
  overflow: hidden;
  height: 380px;
  width: 537px;
  background-size: cover;
  background-position: center;
}

.small-img {
  height: 180px;
  width: 350px;
  background-size: cover;
  background-position: center;
}

.title-cat {
  margin-top: 7%;
}

.small-cat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2%;
}
.small-cat .small-cat-content {
  position: relative;
}
.small-cat .small-cat-content .small-img {
  height: 180px;
  width: 350px;
  background-size: cover;
  background-position: center;
  position: relative;
}
.small-cat .small-cat-content p {
  background-color: rgba(53, 208, 185, 0.4156862745);
  bottom: -44px;
  width: 100%;
  color: #fbf7ea;
  padding: 10px;
  margin: 0;
}

.med-img {
  height: 335px;
  width: 482px;
  background-size: cover;
  background-position: center;
}

.grd-img {
  height: 400px;
  width: 760px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  border-radius: 40px;
}
.grd-img .text-film-grd {
  position: relative;
  width: 535px;
  left: 50px;
  top: 65px;
}
.grd-img .text-film-grd h4 {
  text-transform: uppercase;
  margin-bottom: 55px;
  font-size: 3rem;
}
.grd-img .text-film-grd p {
  font-size: 1.2rem;
}

.hours {
  width: 350px;
}

.line {
  width: 1400px;
  height: 5px;
  background-color: #a8a8a8;
  margin-top: 7%;
}

.image-bottom {
  width: 1640px;
}

.tickets {
  display: flex;
  align-items: center;
  height: 300px;
  width: 1640px;
  background-color: #1f2833;
  margin-top: 7%;
  margin-bottom: 10%;
  position: relative;
}

.tickets-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tickets-image img {
  max-width: 100%;
  max-height: 100%;
}

.tickets-content {
  margin-left: 35px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
}

.tickets-content h2 {
  font-size: 36px;
  margin-bottom: 25px;
  font-weight: bold;
}

.tickets-content h3 {
  font-size: 24px;
  margin-bottom: 40px;
}

.tickets-content button {
  background: linear-gradient(to right, #f54674, #f348a4);
  border: none;
  padding: 20px 35px;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border-radius: 24px;
  cursor: pointer;
  color: #fbf7ea;
  transition: background 0.3s ease-in-out;
  width: 212px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.tickets-content button a {
  color: #fbf7ea;
  text-decoration: none;
  z-index: 2;
}

.tickets-content button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: radial-gradient(circle at center, #de3f69, #de4396);
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.5s cubic-bezier(0.5, 0, 0.5, 1);
  z-index: -1;
}

.tickets-content button:hover::after {
  width: 300px;
  height: 300px;
  opacity: 1;
}

.tickets::after {
  content: "";
  position: absolute;
  /* to position the pseudo-element relative to the .tickets div */
  border: 7px solid #fbf7ea;
  top: 71px;
  right: -73px;
  bottom: -63px;
  left: 118px;
  z-index: -1;
  /* to make sure the border is behind the .tickets div */
}/*# sourceMappingURL=schedule.css.map */