@import 'style.scss';

body {
    background-color: $deep-blue;
}

.headerImage {
    background-image: url('../images/header_image_mytickets.webp');
    background-position: center;
    background-size: cover;
    height: 37vh;
    padding: 0 7.3vw;
    position: relative;
    width: 100%;

    h2,
    h3 {
        position: absolute;
    }

    h2 {
        bottom: 37px;
        font-size: 44px;
        width: 303px;
    }

    h3 {
        bottom: 40px;
        right: 7.3vw;
        width: 36vw;
    }

    .line {
        background-color: white;
        bottom: 37px;
        height: 3px;
        position: absolute;
        right: 7.3vw;
        width: 36vw;
    }
}

.band {
    background-color: #35d0b9b7;
    height: 50px;
    width: 100%;
}

.passes {
    display: flex;
    justify-content: space-evenly;
    margin: 0 7.3vw;
    margin-bottom: 150px;
}

h1 {
    border-bottom: 3px solid $almost-white;
    display: inline-block;
    left: 50%;
    margin: 60px auto;
    padding-bottom: 7px;
    position: relative;
    text-align: center;
    transform: translateX(-50%);
}

.pass {
    height: 400px;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    overflow: hidden;
    padding: 43px 27px 86px 27px;
    position: relative;
    width: 17.5vw;

    h6,
    h3,
    p {
        position: relative;
    }

    p {
        height: 120px;
        overflow-y: auto;
    }

    h3 {
        margin: 20px 0;
        width: 150px;
    }
}

.overlay {
    background: linear-gradient(315deg, rgba(245, 70, 116, 0), rgba(245, 70, 116, 1));
    border-radius: 25px;
    height: calc(100% + 150px);
    left: -150px;
    position: absolute;
    top: -150px;
    width: calc(100% + 150px);
}

.remove {
    background: rgba(101, 239, 206, 0.60);
    bottom: 50px;
    color: lighten(#65efce, 25%);
    font-size: 25px;
    height: 41px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.remove:hover {
    background: lighten(#65efcfe1, 18%);
    color: rgba(53, 208, 185, 0.7176470588);
    cursor: pointer;
    text-decoration: underline;
    transition: background 0.2s ease-in-out;
}

.removeItem {
    display: none;

    .line {
        background-color: white;
        height: 3px;
        margin: 0 17.5%;
        width: 65%;
    }

    .loginInput {
        align-items: center;
        background: linear-gradient(to right, $reddish-pink, $pink);
        border: none;
        border-radius: 24px;
        color: $almost-white;
        cursor: pointer;
        display: flex;
        font-size: 21px;
        left: 50%;
        margin-top: 100px;
        margin-bottom: 150px;
        position: relative;
        transform: translateX(-50%);
        width: 185px;

        img {
            margin-bottom: 5px;
            position: absolute;
            right: 30px;
            width: 30px;
        }

        .submit {
            background-color: transparent;
            border: 0px;
            color: $almost-white;
            display: flex;
            font-weight: 500;
            margin: 0;
            padding: 15px 0 15px 30px;
            text-align: left;
            width: 100%;
            z-index: 1;
        }
    }

    .loginInput:hover {
        background: linear-gradient(to left, $reddish-pink, $pink);
    }
}

.titles,
.infos {
    display: flex;
    justify-content: space-between;
    margin: 0 17.5%;
    width: 65%;

    * {
        width: 30%;
    }

    .last {
        width: 10%;
    }
}

.infos {
    margin-top: 100px;
}

.noReservation {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 25px;

    p {
        margin: 0;
    }
}

.getTicket {
    color: $pink;
    margin-top: 60px;
}

.getTicket:hover {
    color: $logo-turquoise;
}
