@import url(nav.css);
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fbf7ea;
  background-color: #222222;
}
body .mainBlock {
  border: 1px solid #fefed5;
  border-radius: 4px;
  padding: 20px;
  margin: 20px;
}
body .mainBlock .container {
  max-width: 95vw;
  margin: 0 auto;
}
body .mainBlock .container h1 {
  font-size: 90px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}
body .mainBlock .container h2 {
  font-size: 50px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}
body .mainBlock .container h3 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 10px;
}
body .mainBlock .container h4 {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 10px;
}
body .mainBlock .container .mainText {
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 20px;
}
body .mainBlock .container .secText {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 20px;
}
body .mainBlock .container .mainBtn,
body .mainBlock .container .secBtn {
  color: #fbf7ea;
  cursor: pointer;
}
body .mainBlock .container .mainBtn .mainBtn,
body .mainBlock .container .secBtn .mainBtn {
  background: linear-gradient(to right, #f54674, #f348a4);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  margin: auto;
  cursor: pointer;
  border: none;
}
body .mainBlock .container .mainBtn .mainBtn .mainBtn:hover,
body .mainBlock .container .secBtn .mainBtn .mainBtn:hover {
  background: linear-gradient(to left, #f54674, #f348a4);
}
body .mainBlock .container .mainBtn .secBtn,
body .mainBlock .container .secBtn .secBtn {
  background: linear-gradient(to left, #35d0ba, #65efce);
  border: 2px solid #f54674;
}
body .mainBlock .container .mainBtn .secBtn .secBtn:hover,
body .mainBlock .container .secBtn .secBtn .secBtn:hover {
  background: linear-gradient(to left, #65efce, #35d0ba);
}
body .message {
  background-color: #fbf7ea;
  height: 50px;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999999999999;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
  animation: fadeOut 5000ms linear 3000ms forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
body .error {
  color: #f54674;
  border: 1px #f54674 solid;
}
body .success {
  color: #35d0ba;
  border: 1px #35d0ba solid;
}

body {
  background-color: #1f2833;
}

.headerImage {
  background-image: url("../images/header_image_mytickets.webp");
  background-position: center;
  background-size: cover;
  height: 37vh;
  padding: 0 7.3vw;
  position: relative;
  width: 100%;
}
.headerImage h2,
.headerImage h3 {
  position: absolute;
}
.headerImage h2 {
  bottom: 37px;
  font-size: 44px;
  width: 303px;
}
.headerImage h3 {
  bottom: 40px;
  right: 7.3vw;
  width: 36vw;
}
.headerImage .line {
  background-color: white;
  bottom: 37px;
  height: 3px;
  position: absolute;
  right: 7.3vw;
  width: 36vw;
}

.band {
  background-color: rgba(53, 208, 185, 0.7176470588);
  height: 50px;
  width: 100%;
}

.passes {
  display: flex;
  justify-content: space-evenly;
  margin: 0 7.3vw;
  margin-bottom: 150px;
}

h1 {
  border-bottom: 3px solid #fbf7ea;
  display: inline-block;
  left: 50%;
  margin: 60px auto;
  padding-bottom: 7px;
  position: relative;
  text-align: center;
  transform: translateX(-50%);
}

.pass {
  height: 400px;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  overflow: hidden;
  padding: 43px 27px 86px 27px;
  position: relative;
  width: 17.5vw;
}
.pass h6,
.pass h3,
.pass p {
  position: relative;
}
.pass p {
  height: 120px;
  overflow-y: auto;
}
.pass h3 {
  margin: 20px 0;
  width: 150px;
}

.overlay {
  background: linear-gradient(315deg, rgba(245, 70, 116, 0), rgb(245, 70, 116));
  border-radius: 25px;
  height: calc(100% + 150px);
  left: -150px;
  position: absolute;
  top: -150px;
  width: calc(100% + 150px);
}

.remove {
  background: rgba(101, 239, 206, 0.6);
  bottom: 50px;
  color: #d9fbf3;
  font-size: 25px;
  height: 41px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.remove:hover {
  background: rgba(184, 248, 233, 0.8823529412);
  color: rgba(53, 208, 185, 0.7176470588);
  cursor: pointer;
  text-decoration: underline;
  transition: background 0.2s ease-in-out;
}

.removeItem {
  display: none;
}
.removeItem .line {
  background-color: white;
  height: 3px;
  margin: 0 17.5%;
  width: 65%;
}
.removeItem .loginInput {
  align-items: center;
  background: linear-gradient(to right, #f54674, #f348a4);
  border: none;
  border-radius: 24px;
  color: #fbf7ea;
  cursor: pointer;
  display: flex;
  font-size: 21px;
  left: 50%;
  margin-top: 100px;
  margin-bottom: 150px;
  position: relative;
  transform: translateX(-50%);
  width: 185px;
}
.removeItem .loginInput img {
  margin-bottom: 5px;
  position: absolute;
  right: 30px;
  width: 30px;
}
.removeItem .loginInput .submit {
  background-color: transparent;
  border: 0px;
  color: #fbf7ea;
  display: flex;
  font-weight: 500;
  margin: 0;
  padding: 15px 0 15px 30px;
  text-align: left;
  width: 100%;
  z-index: 1;
}
.removeItem .loginInput:hover {
  background: linear-gradient(to left, #f54674, #f348a4);
}

.titles,
.infos {
  display: flex;
  justify-content: space-between;
  margin: 0 17.5%;
  width: 65%;
}
.titles *,
.infos * {
  width: 30%;
}
.titles .last,
.infos .last {
  width: 10%;
}

.infos {
  margin-top: 100px;
}

.noReservation {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 25px;
}
.noReservation p {
  margin: 0;
}

.getTicket {
  color: #f348a4;
  margin-top: 60px;
}

.getTicket:hover {
  color: #35d0ba;
}/*# sourceMappingURL=styleMyTickets.css.map */