$reddish-pink: #f54674;
$pink: #f348a4;
$deep-blue: #1f2833;
$almost-white: #fbf7ea;
$almost-black: #222222;

body {
    margin: 0;

    .firstSection {
        width: 100%;
        height: 90vh;

        .festivalImage {
            width: 100%;
            height: 90vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .multipleScreen {
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    .topRow {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50%;
        background-color: rgb(197, 197, 197);
        border: 1px solid black;

        span {
            width: 33.333333%;
            height: 100%;
            border: 1px solid black;
        }
    }

    .downRow {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50%;
        background-color: rgb(197, 197, 197);
        border: 1px solid black;

        span {
            width: 33.333333%;
            height: 100%;
            border: 1px solid black;
        }
    }

    .about {
        position: relative;
    }

    .aboutSection {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: space-around;
        background-color: $deep-blue;
        position: relative;
        z-index: 2;


        .imageBack {
            position: relative;
            left: -30px;
            top: 96px;

            img {

                width: 850px;
                height: 750px;
            }
        }

        .aboutInfo {
            display: flex;
            flex-direction: column;
            position: absolute;
            gap: 30px;
            left: 60px;
            top: 110px;
            width: 652px;
            float: left;
            max-width: 652px;
            overflow: hidden;

            h2 {
                font-size: 70px;
                max-width: 25%;
            }

            p {
                text-align: justify;
            }
        }

        .imageContainer {
            width: 447px;
            height: 560px;
            position: relative;
            float: right;
            margin-right: 8%;
        }

        .imageBorder {
            position: absolute;
            top: 60px;
            right: -70px;
            bottom: -70px;
            left: 60px;
            border: 7px solid #fbf7ea;
            z-index: -1;
        }

        .aboutImage {
            width: 100%;
            height: 100%;
            position: relative;
        }

        .aboutImage img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .latestNews {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 4.5% 0 6% 0;
        background-color: #dff0f0;
        color: black;
        align-items: center;

        p {
            max-width: 445px;
        }

        .titleLast {
            display: flex;
            flex-direction: row;
            gap: 60px;
            align-items: center;
            margin-bottom: 45px;

            span {
                transform: rotate(90deg);
                font-size: 70px;
                margin-top: -10px;
            }

            h2 {
                font-size: 4rem;
            }
        }

        .news {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 75%;
            justify-content: center;
            margin-top: 25px;
            gap: 20%;

            .newsPicture {
                display: flex;
                align-self: auto;
                width: 422px;
                height: 264px;
                background-size: cover;
                background-position: center;
                position: relative;
            }

            .banner {
                position: absolute;
                top: 13px;
                font-size: 25px;
                font-weight: 600;
                color: white;
                align-items: center;
                left: -25px;
                width: 365px;
                height: 66px;
                padding: 15px 55px 15px 35px;
                background-color: #35d0ba;
                text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
            }
        }

        .mainNews {
            margin-top: 0;
            max-width: 600px;

            .newsPicture {
                width: 825px;
                height: 450px;
            }

            .title-main {
                max-width: 800px !important;
                width: 800px;
                margin-top: 15px;
                color: $almost-black;
            }

            .title-main:hover {
                color: #646363;
                cursor: pointer;
            }

            .subtitle-main {
                max-width: 800px !important;
                width: 800px;
                margin-top: 15px;
                color: $almost-black;
            }

            .more {
                background: linear-gradient(to right, $reddish-pink, $pink);
                font-size: 1.5rem;
                font-weight: bold;
                text-align: center;
                color: white;
                padding: 7.5px 41px 9px 36px;
                text-decoration: none;
                border-radius: 25px;
                margin: auto;
                cursor: pointer;
                transition: all 0.2s ease-in-out;

                &:hover {
                    background: linear-gradient(to left, $reddish-pink, $pink);
                }
            }
        }

        .secondary {
            max-width: 440px;

            a {
                color: #1f2833;
                text-decoration: none;
            }

            .title-sec {
                margin-top: 5px;
            }

            .title-sec a:hover {
                color: #646363;
                cursor: pointer;
            }
        }
    }

    .showEvents {
        display: grid;
        grid-column: 4;
        grid-row: 2;
        width: 100%;
        min-height: 100vh;
        padding: 150px 75px 150px 75px;
        align-items: center;
        background-color: #2D2D2D;

        .eventTop {
            display: flex;
            flex-direction: row;
            gap: 0;
        }

        .eventDown {
            display: flex;
            flex-direction: row;
            gap: 0;
        }

        .event {
            width: 25%;
            height: 55vh;
            padding: 0 30px;
            color: black;
            background-color: #FBF7EA;
            position: relative;

            .book-ticket {
                position: absolute;
                font-size: x-large;
                bottom: 60px;

                p {
                    color: #A8A394;
                }

                a img {
                    transition: transform 0.2s ease-in-out;
                }

                a img:hover {
                    transform: translateX(5px);
                }
            }
        }

        p {
            margin-top: 25px;
            font-size: large;
            color: #A8A394;
        }

        a {
            color: $reddish-pink;
            text-decoration: none;
            font-size: xx-large;

        }

        .book {
            margin: 0 0 2.5px 25px;
            width: 57px;
            height: 38px;
        }

        .image {
            width: 25%;
            height: 55vh;
            background-color: rgb(190, 190, 190);
            background-size: cover;
            background-position: center;
        }

        span {
            width: 150px;
            height: 200px;
            background-color: black;
        }
    }
}

@media (min-width: 1193px) and (max-width: 1440px) {

    .firstSection {
        height: 82vh !important;

        .festivalImage {
            background-size: contain !important;
        }
    }

    .showEvents {
        .event {
            .book-ticket {
                a {
                    font-size: x-large;
                }
            }
        }
    }
}
