.sectionAdmin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    .sectionName {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100px;
        gap: 1%;
        background-color: rgb(88, 88, 88);
        img {
            cursor: pointer;
            margin-bottom: 3px;
            width: 30px;
            height: 30px;
        }
    }
    .menuAdmin {
        display: flex;
        flex-direction: column;
        max-width: 30%;

        .user {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 40px;
            height: 185px;
            background-color: #6d6d6d;
            border: 2px solid #555555;
        }

        .menu {
            width: 100%;
            .employes {
                display: flex;
                align-items: center;
                padding: 15px 55px 15px 60px;
                width: 100%;
                height: 90px;
                border: 2px solid #707070;
                color: whitesmoke;
                background: linear-gradient(
                    90deg,
                    rgba(29, 133, 118, 1) 0%,
                    rgba(53, 208, 186, 1) 100%
                );
                margin-left: 0;
                &:hover {
                    background: linear-gradient(
                        90deg,
                        rgba(53, 208, 186, 1) 0%,
                        rgba(29, 133, 118, 1) 100%
                    );
                }
            }

            .users {
                display: flex;
                align-items: center;
                padding: 15px 55px 15px 60px;
                width: 100%;
                height: 90px;
                border: 2px solid #707070;
                color: whitesmoke;
                background: linear-gradient(
                    90deg,
                    rgba(29, 133, 118, 1) 0%,
                    rgba(53, 208, 186, 1) 100%
                );
                margin-left: 0;
                &:hover {
                    background: linear-gradient(
                        90deg,
                        rgba(53, 208, 186, 1) 0%,
                        rgba(29, 133, 118, 1) 100%
                    );
                }
            }

            .activities {
                display: flex;
                align-items: center;
                padding: 15px 55px 15px 60px;
                width: 100%;
                height: 90px;
                color: whitesmoke;
                border: 2px solid #707070;
                background: linear-gradient(
                    90deg,
                    rgba(29, 133, 118, 1) 0%,
                    rgba(53, 208, 186, 1) 100%
                );
                margin-left: 0;
                &:hover {
                    background: linear-gradient(
                        90deg,
                        rgba(53, 208, 186, 1) 0%,
                        rgba(29, 133, 118, 1) 100%
                    );
                }
            }

            .reservations {
                display: flex;
                align-items: center;
                padding: 15px 55px 15px 60px;
                color: whitesmoke;
                width: 100%;
                height: 90px;
                border: 2px solid #707070;
                background: linear-gradient(
                    90deg,
                    rgba(29, 133, 118, 1) 0%,
                    rgba(53, 208, 186, 1) 100%
                );
                margin-left: 0;
                &:hover {
                    background: linear-gradient(
                        90deg,
                        rgba(53, 208, 186, 1) 0%,
                        rgba(29, 133, 118, 1) 100%
                    );
                }
            }
        }
    }

    .listEmployes {
        display: flex;
        flex-direction: column;
        border: 6px solid #707070;
        width: 1240px;
        height: 1080px;

        .employeSection {
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: auto;
            width: 100%;
            height: 100%;
            background-color: #c8c8c8;

            a {
                text-decoration: none;
            }

            .createAdmin {
                display: flex;
                width: 98%;
                height: 10%;
                margin-top: 10px;
                border: 1px solid #35d0ba;
                border-radius: 25px;
                background-color: rgba(53, 208, 186, 0.1);

                form {
                    display: flex;
                    flex-direction: row;
                    margin-left: 5%;
                    width: 70%;
                    gap: 2.5%;
                    justify-content: left;
                    align-items: center;

                    input {
                        font-size: 15px;
                        color: black;
                        border: 1px solid #8d8d8d;
                        background-color: #35d0b921;
                    }
                }
            }
            ul {
                display: flex;
                align-items: center;
                width: 98%;
                height: 10%;
                margin-top: 10px;
                border: 1px solid #35d0ba;
                border-radius: 25px;
                background-color: rgba(53, 208, 186, 0.1);
                form {
                    display: flex;
                    flex-direction: row;
                    width: 25%;
                    height: 15%;
                    gap: 2.5%;
                    justify-content: left;
                    align-items: center;

                    input {
                        font-size: 15px;
                        color: black;
                        border: 1px solid #8d8d8d;
                        background-color: #35d0b921;
                    }
                }
            }
        }
    }
    .listUsers {
        display: flex;
        flex-direction: column;
        border: 6px solid #707070;
        width: 1240px;
        height: 1080px;

        .usersSection {
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: auto;
            width: 100%;
            height: 100%;
            background-color: #c8c8c8;

            a {
                text-decoration: none;
            }
            .createUser {
                display: flex;
                width: 98%;
                height: 10%;
                margin-top: 10px;
                border: 1px solid #35d0ba;
                border-radius: 25px;
                background-color: rgba(53, 208, 186, 0.1);
                form {
                    display: flex;
                    flex-direction: row;
                    margin-left: 5%;
                    width: 70%;
                    gap: 2.5%;
                    justify-content: left;
                    align-items: center;

                    input {
                        font-size: 15px;
                        color: black;
                        border: 1px solid #8d8d8d;
                        background-color: #35d0b921;
                    }
                }
            }
            ul {
                display: flex;
                align-items: center;
                width: 98%;
                height: 10%;
                margin-top: 10px;
                border: 1px solid #35d0ba;
                border-radius: 25px;
                background-color: rgba(53, 208, 186, 0.1);
                form {
                    display: flex;
                    flex-direction: row;
                    width: 18%;
                    height: 15%;
                    gap: 1.5%;
                    justify-content: left;
                    align-items: center;

                    input {
                        font-size: 15px;
                        color: black;
                        border: 1px solid #8d8d8d;
                        background-color: #35d0b921;
                    }
                }
            }
        }
    }
    .listActivities {
        display: flex;
        flex-direction: column;
        border: 6px solid #707070;
        width: 1240px;
        height: 1080px;

        .activitiesSection {
            display: flex;
            flex-direction: column;
            overflow: auto;
            width: 100%;
            height: 100%;
            background-color: #c8c8c8;
            .createActivity {
                display: flex;
                align-items: center;
                width: 98%;
                height: 20%;
                margin-top: 10px;
                border: 1px solid #35d0ba;
                padding: 10px;
                border-radius: 25px;
                background-color: rgba(53, 208, 186, 0.1);
                form {
                    display: flex;
                    flex-direction: row;
                    margin-left: 5%;
                    width: 5%;
                    height: 20%;
                    gap: 10px;
                    align-items: center;
                    textarea {
                        width: 400px;
                        height: 45px;
                    }

                    input {
                        font-size: 15px;
                        color: black;
                        border: 1px solid #8d8d8d;
                        background-color: #35d0b921;
                    }
                }
            }
            ul {
                display: flex;
                width: 95%;
                height: 10%;
                position: relative;
                padding: 150px 0 150px 40px;
                margin: 15px auto 0 auto;
                border: 1px solid #35d0ba;
                border-radius: 25px;
                background-color: rgba(53, 208, 186, 0.1);
                align-items: center;
                img {
                    width: 150px;
                    height: 150px;
                }
                form {
                    display: flex;
                    flex-direction: column;
                    height: 30%;
                    margin-left: 60px;
                    gap: 10px;
                    justify-content: center;
                    .submit {
                        position: absolute;
                        top: 20px;
                        right: 110px;
                    }
                    textarea {
                        width: 400px;
                        height: 45px;
                    }

                    input {
                        font-size: 15px;
                        color: black;
                        border: 1px solid #8d8d8d;
                        background-color: #35d0b921;
                    }
                }
                a {
                    font-size: 25px;
                    position: absolute;
                    top: 13px;
                    right: 50px;
                    text-decoration: none;
                }
            }
        }
    }

    .reservationSection {
        display: flex;
        flex-direction: row;
        width: 1240px;
        height: 800px;
        gap: 1%;
        .sectionMember {
            border: 6px solid #707070;
            background-color: #c8c8c8;
            overflow: auto;
            .listMembers {
                width: 200px;
                height: 100%;
                display: flex;
                flex-direction: column;
                color: black;
                gap: 25px;
                overflow: auto;
                margin: 20px 0 0 15px;


                .members{
                    width: 80%;
                    height: 30px;
                    border: 2px solid black;
                }
            }
        }
        .sectionReservation {
            width: 70%;
            height: 100%;
            border: 6px solid #707070;
            background-color: #c8c8c8;
            overflow: auto;
            .listReservations {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #c8c8c8;

                div {
                    display: flex;
                    flex-direction: row;
                    width: 95%;
                height: 10%;
                position: relative;
                padding: 150px 0 150px 40px;
                margin: 15px auto 0 auto;
                border: 1px solid #35d0ba;
                border-radius: 25px;
                background-color: rgba(53, 208, 186, 0.1);
                }
            }
        }
    }
    .titleReservation {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100px;
        background-color: rgb(88, 88, 88);
    }
    .titleMember {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100px;
        background-color: rgb(88, 88, 88);
    }
}
