@import url(nav.css);

// Colors
// almost white #fbf7ea
// soft yellow #fefed5
// p!nk #f348a4
// reddish pink #f54674
// light turquoise #65efce
// logo turquoise #35d0ba
// light grey #a8a8a8
// middle gray #707070
// deep blue #1f2833
// almost black #222222

// Variables
$reddish-pink: #f54674;
$pink: #f348a4;
$logo-turquoise: #35d0ba;
$light-turquoise: #65efce;
$almost-white: #fbf7ea;
$deep-blue: #1f2833;
$almost-black: #222222;


// Styles
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $almost-white;
    background-color: $almost-black;
    // padding-top: 6rem;

    .mainBlock {
        border: 1px solid #fefed5;
        border-radius: 4px;
        padding: 20px;
        margin: 20px;

        .container {
            max-width: 95vw;
            margin: 0 auto;


            h1 {
                font-size: 90px;
                font-weight: bold;
                margin-top: 0;
                margin-bottom: 10px;
            }

            h2 {
                font-size: 50px;
                font-weight: bold;
                margin-top: 0;
                margin-bottom: 10px;
            }

            h3 {
                font-size: 40px;
                margin-top: 0;
                margin-bottom: 10px;
            }

            h4 {
                font-size: 25px;
                margin-top: 0;
                margin-bottom: 10px;
            }

            .mainText {
                font-size: 25px;
                line-height: 1.5;
                margin-bottom: 20px;
            }

            .secText {
                font-size: 22px;
                line-height: 1.5;
                margin-bottom: 20px;
            }

            .mainBtn,
            .secBtn {
                // display: inline-block;
                // padding: 10px 20px;
                // font-size: 16px;
                // font-weight: bold;
                // text-align: center;
                // text-decoration: none;
                // border-radius: 4px;
                color: $almost-white;
                 cursor: pointer;
                // transition: all 0.3s ease-in-out;

                .mainBtn {
                    background: linear-gradient(to right, $reddish-pink, $pink);
                    font-size: 16px;
                    font-weight: bold;
                    text-align: center;
                    text-decoration: none;
                    border-radius: 8px;
                    margin: auto;
                    cursor: pointer;
                    //transition: all 0.3s ease-in-out;
                    border: none;

                    .mainBtn:hover {
                        background: linear-gradient(to left, $reddish-pink, $pink);
                    }
                }

                .secBtn {
                    background: linear-gradient(to left, $logo-turquoise, $light-turquoise);

                    border: 2px solid $reddish-pink;

                    .secBtn:hover {
                        background: linear-gradient(to left, $light-turquoise, $logo-turquoise);
                    }
                }
            }
        }
    }

    .message
    {
        background-color: $almost-white;
        height: 50px;
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9999999999999;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 13px;

        animation: fadeOut 2000ms linear 1000ms forwards;
    }

    @keyframes fadeOut
    {
        0%
        {
            opacity: 1;
        }

        50%
        {
            opacity: 0.7;
        }

        100%
        {
            opacity: 0;
        }
    }

    .error
    {
        color: $reddish-pink;
        border: 1px $reddish-pink solid;
    }

    .success
    {
        color: $logo-turquoise;
        border: 1px $logo-turquoise solid;
    }
}
