.sectionAdmin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10% 0 6% 0;
  width: 100%;
}
.sectionAdmin .sectionName {
  align-items: center;
  background-color: rgb(88, 88, 88);
  display: flex;
  justify-content: center;
  min-height: 100px;
  gap: 1%;
  width: 100%;
}
.sectionAdmin .sectionName img {
  cursor: pointer;
  height: 30px;
  margin-bottom: 3px;
  width: 30px;
}
.sectionAdmin .menuAdmin {
  display: flex;
  flex-direction: column;
  max-width: 30%;
}
.sectionAdmin .menuAdmin .user {
  background-color: #6d6d6d;
  border: 2px solid #555555;
  display: flex;
  flex-direction: column;
  height: 185px;
  justify-content: center;
  padding: 40px;
}
.sectionAdmin .menuAdmin .menu {
  width: 100%;
}
.sectionAdmin .menuAdmin .menu .employes {
  align-items: center;
  background: linear-gradient(90deg, rgb(29, 133, 118) 0%, rgb(53, 208, 186) 100%);
  border: 2px solid #707070;
  color: whitesmoke;
  display: flex;
  height: 90px;
  margin-left: 0;
  padding: 15px 55px 15px 60px;
  width: 100%;
}
.sectionAdmin .menuAdmin .menu .employes:hover {
  background: linear-gradient(90deg, rgb(53, 208, 186) 0%, rgb(29, 133, 118) 100%);
}
.sectionAdmin .menuAdmin .menu .users {
  align-items: center;
  background: linear-gradient(90deg, rgb(29, 133, 118) 0%, rgb(53, 208, 186) 100%);
  border: 2px solid #707070;
  color: whitesmoke;
  display: flex;
  height: 90px;
  margin-left: 0;
  padding: 15px 55px 15px 60px;
  width: 100%;
}
.sectionAdmin .menuAdmin .menu .users:hover {
  background: linear-gradient(90deg, rgb(53, 208, 186) 0%, rgb(29, 133, 118) 100%);
}
.sectionAdmin .menuAdmin .menu .activities {
  align-items: center;
  background: linear-gradient(90deg, rgb(29, 133, 118) 0%, rgb(53, 208, 186) 100%);
  border: 2px solid #707070;
  color: whitesmoke;
  display: flex;
  height: 90px;
  margin-left: 0;
  padding: 15px 55px 15px 60px;
  width: 100%;
}
.sectionAdmin .menuAdmin .menu .activities:hover {
  background: linear-gradient(90deg, rgb(53, 208, 186) 0%, rgb(29, 133, 118) 100%);
}
.sectionAdmin .menuAdmin .menu .reservations {
  align-items: center;
  background: linear-gradient(90deg, rgb(29, 133, 118) 0%, rgb(53, 208, 186) 100%);
  border: 2px solid #707070;
  color: whitesmoke;
  display: flex;
  height: 90px;
  margin-left: 0;
  padding: 15px 55px 15px 60px;
  width: 100%;
}
.sectionAdmin .menuAdmin .menu .reservations:hover {
  background: linear-gradient(90deg, rgb(53, 208, 186) 0%, rgb(29, 133, 118) 100%);
}
.sectionAdmin .listEmployes {
  border: 6px solid #707070;
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 1240px;
}
.sectionAdmin .listEmployes .employeSection {
  align-items: center;
  background-color: #c8c8c8;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  width: 100%;
}
.sectionAdmin .listEmployes .employeSection .createAdmin {
  display: flex;
  background-color: rgba(53, 208, 186, 0.1);
  border: 1px solid #35d0ba;
  border-radius: 25px;
  height: 10%;
  margin-top: 10px;
  width: 98%;
}
.sectionAdmin .listEmployes .employeSection .createAdmin form {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: left;
  margin-left: 2.5%;
  width: 90%;
}
.sectionAdmin .listEmployes .employeSection .createAdmin form .createAccountName {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.sectionAdmin .listEmployes .employeSection .createAdmin form input {
  color: black;
  background-color: rgba(53, 208, 185, 0.1294117647);
  border: 1px solid #8d8d8d;
  font-size: 15px;
}
.sectionAdmin .listEmployes .employeSection .createAdmin form .createAccountInput input {
  margin-left: 45px;
}
.sectionAdmin .listEmployes .employeSection ul {
  align-items: center;
  background-color: rgba(53, 208, 186, 0.1);
  border: 1px solid #35d0ba;
  border-radius: 25px;
  display: flex;
  height: 10%;
  margin-top: 10px;
  position: relative;
  width: 98%;
}
.sectionAdmin .listEmployes .employeSection ul form {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 15%;
  gap: 5%;
  justify-content: left;
  width: 90%;
}
.sectionAdmin .listEmployes .employeSection ul form input {
  background-color: rgba(53, 208, 185, 0.1294117647);
  border: 1px solid #8d8d8d;
  color: black;
  font-size: 15px;
}
.sectionAdmin .listEmployes .employeSection ul a {
  font-size: 25px;
  position: relative;
  right: 144px;
  text-decoration: none;
  top: -1px;
}
.sectionAdmin .listUsers {
  border: 6px solid #707070;
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 1240px;
}
.sectionAdmin .listUsers .sectionName h3 img {
  margin-left: 15px;
}
.sectionAdmin .listUsers .usersSection {
  align-items: center;
  background-color: #c8c8c8;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  width: 100%;
}
.sectionAdmin .listUsers .usersSection a {
  text-decoration: none;
}
.sectionAdmin .listUsers .usersSection .createUser {
  background-color: rgba(53, 208, 186, 0.1);
  border: 1px solid #35d0ba;
  border-radius: 25px;
  display: flex;
  height: 10%;
  margin-top: 10px;
  width: 98%;
}
.sectionAdmin .listUsers .usersSection .createUser form {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 2.5%;
  justify-content: left;
  margin-left: 2.5%;
  width: 90%;
}
.sectionAdmin .listUsers .usersSection .createUser form input {
  background-color: rgba(53, 208, 185, 0.1294117647);
  border: 1px solid #8d8d8d;
  color: black;
  font-size: 15px;
}
.sectionAdmin .listUsers .usersSection ul {
  align-items: center;
  background-color: rgba(53, 208, 186, 0.1);
  border: 1px solid #35d0ba;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  height: 10%;
  margin-top: 10px;
  position: relative;
  width: 98%;
}
.sectionAdmin .listUsers .usersSection ul form {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 5%;
  height: 15%;
  justify-content: left;
  width: 90%;
}
.sectionAdmin .listUsers .usersSection ul form input {
  background-color: rgba(53, 208, 185, 0.1294117647);
  border: 1px solid #8d8d8d;
  color: black;
  font-size: 15px;
}
.sectionAdmin .listUsers .usersSection ul a {
  font-size: 25px;
  position: relative;
  right: 144px;
  text-decoration: none;
  top: -1px;
}
.sectionAdmin .listActivities {
  border: 6px solid #707070;
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 1240px;
}
.sectionAdmin .listActivities .activitiesSection {
  background-color: #c8c8c8;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  width: 100%;
}
.sectionAdmin .listActivities .activitiesSection .createActivity {
  align-items: center;
  background-color: rgba(53, 208, 186, 0.1);
  border: 1px solid #35d0ba;
  border-radius: 25px;
  display: flex;
  height: 25%;
  margin: 10px auto 0px auto;
  padding: 20px;
  width: 95%;
}
.sectionAdmin .listActivities .activitiesSection .createActivity form {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 20%;
  margin-left: 5%;
  width: 10%;
}
.sectionAdmin .listActivities .activitiesSection .createActivity form textarea {
  height: 45px;
  width: 400px;
}
.sectionAdmin .listActivities .activitiesSection .createActivity form input {
  color: black;
  background-color: rgba(53, 208, 185, 0.1294117647);
  border: 1px solid #8d8d8d;
  font-size: 15px;
}
.sectionAdmin .listActivities .activitiesSection ul {
  align-items: center;
  background-color: rgba(53, 208, 186, 0.1);
  border: 1px solid #35d0ba;
  border-radius: 25px;
  display: flex;
  height: 10%;
  margin: 15px auto 0 auto;
  padding: 150px 0 150px 40px;
  position: relative;
  width: 95%;
}
.sectionAdmin .listActivities .activitiesSection ul img {
  height: 150px;
  width: 150px;
}
.sectionAdmin .listActivities .activitiesSection ul form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 30%;
  justify-content: center;
  margin-left: 60px;
}
.sectionAdmin .listActivities .activitiesSection ul form .submit {
  position: absolute;
  right: 110px;
  top: 20px;
}
.sectionAdmin .listActivities .activitiesSection ul form .hours {
  bottom: 100px;
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 250px;
  width: 5%;
}
.sectionAdmin .listActivities .activitiesSection ul form .hours input {
  cursor: pointer;
}
.sectionAdmin .listActivities .activitiesSection ul form textarea {
  height: 45px;
  width: 400px;
}
.sectionAdmin .listActivities .activitiesSection ul form input {
  background-color: rgba(53, 208, 185, 0.1294117647);
  border: 1px solid #8d8d8d;
  color: black;
  font-size: 15px;
}
.sectionAdmin .listActivities .activitiesSection ul a {
  font-size: 25px;
  position: absolute;
  right: 50px;
  text-decoration: none;
  top: 13px;
}
.sectionAdmin .reservationSection {
  display: flex;
  flex-direction: row;
  gap: 1%;
  height: 85vh;
  width: 1240px;
}
.sectionAdmin .reservationSection .sectionMember {
  border: 6px solid #707070;
  background-color: #c8c8c8;
  overflow: auto;
}
.sectionAdmin .reservationSection .sectionMember .listMembers {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 100%;
  margin: 20px 0 0 15px;
  overflow: auto;
  width: 200px;
}
.sectionAdmin .reservationSection .sectionMember .listMembers .member {
  cursor: pointer;
}
.sectionAdmin .reservationSection .sectionMember .listMembers .members {
  border: 2px solid black;
  height: 30px;
  width: 80%;
}
.sectionAdmin .reservationSection .sectionReservation {
  background-color: #c8c8c8;
  border: 6px solid #707070;
  height: 100%;
  overflow: auto;
  width: 70%;
}
.sectionAdmin .reservationSection .sectionReservation .listReservations {
  align-items: center;
  background-color: #c8c8c8;
  display: flex;
  flex-direction: column;
}
.sectionAdmin .reservationSection .sectionReservation .listReservations div {
  background-color: rgba(53, 208, 186, 0.1);
  border: 1px solid #35d0ba;
  border-radius: 25px;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  height: 5%;
  position: relative;
  margin: 15px auto 15px auto;
  padding: 40px 0 40px 40px;
  width: 95%;
}
.sectionAdmin .reservationSection .sectionReservation .listReservations div input {
  background-color: transparent;
  border: none;
}
.sectionAdmin .reservationSection .sectionReservation .listReservations div .suppress {
  bottom: 50px;
  position: absolute;
  right: 50px;
}
.sectionAdmin .titleReservation {
  align-items: center;
  background-color: rgb(88, 88, 88);
  display: flex;
  justify-content: center;
  min-height: 100px;
  width: 100%;
}
.sectionAdmin .titleMember {
  align-items: center;
  background-color: rgb(88, 88, 88);
  display: flex;
  justify-content: center;
  min-height: 100px;
  width: 100%;
}/*# sourceMappingURL=styleAdmin.css.map */