@import 'style.scss';

body {
    background-color: #1f2833;
}

main {
    align-items: center;
    display: flex;
    height: 89vh;
    justify-content: space-evenly;
    margin-top: 6vh;
}

.connectForm {
    background-color: lighten($deep-blue, $amount: 3);
    border: 7px $almost-white solid;
    border-radius: 20px;
    height: 648px;
    width: 40%;
}

.login,
.createAccount {
    margin: 12.25% auto;
    width: 65%;
}

input {
    background-color: #404851;
    border: 0px;
    color: $almost-white;
    font-size: 20px;
    height: 60px;
    margin-bottom: 20px;
    padding: 16px 0 16px 40px;
    width: 100%;
}

input::placeholder {
    color: $almost-white;
}

h2 {
    margin-bottom: 22px;
}

.loginInput,
.createAccountInput {
    align-items: center;
    background: linear-gradient(to right, $reddish-pink, $pink);
    border: none;
    border-radius: 24px;
    color: $almost-white;
    cursor: pointer;
    display: flex;
    font-size: 21px;
    margin-top: 9px;
    position: relative;

    img {
        position: absolute;
        right: 30px;
        width: 30px;
    }
}

.loginInput {
    width: 160px;
}

.createAccountInput {
    width: 263px;
}

.submit {
    background-color: transparent;
    font-weight: 500;
    margin: 0;
    padding: 15px 0 15px 30px;
    width: auto;
}

#submit {
    display: flex;
    margin: 0;
    text-align: left;
    width: 100%;
    z-index: 1;
}

.plus {
    font-size: 40px;
    margin: -10px 0 0 12px;
    position: absolute;
    right: 30px;
}

.loginInput:hover,
.createAccountInput:hover {

    background: radial-gradient(circle at center, #de3f69, #de4396);
}

.createAccountName {
    display: flex;
    gap: 25px;
}
