body {
  margin: 0;
}
body .firstSection {
  width: 100%;
  height: 90vh;
}
body .firstSection .festivalImage {
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body .multipleScreen {
  display: flex;
  flex-direction: column;
  width: 70%;
}
body .topRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
  background-color: rgb(197, 197, 197);
  border: 1px solid black;
}
body .topRow span {
  width: 33.333333%;
  height: 100%;
  border: 1px solid black;
}
body .downRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
  background-color: rgb(197, 197, 197);
  border: 1px solid black;
}
body .downRow span {
  width: 33.333333%;
  height: 100%;
  border: 1px solid black;
}
body .about {
  position: relative;
}
body .aboutSection {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
  background-color: #1f2833;
  position: relative;
  z-index: 2;
}
body .aboutSection .imageBack {
  position: relative;
  left: -30px;
  top: 96px;
}
body .aboutSection .imageBack img {
  width: 850px;
  height: 750px;
}
body .aboutSection .aboutInfo {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 30px;
  left: 60px;
  top: 110px;
  width: 652px;
  float: left;
  max-width: 652px;
  overflow: hidden;
}
body .aboutSection .aboutInfo h2 {
  font-size: 70px;
  max-width: 25%;
}
body .aboutSection .aboutInfo p {
  text-align: justify;
}
body .aboutSection .imageContainer {
  width: 447px;
  height: 560px;
  position: relative;
  float: right;
  margin-right: 8%;
}
body .aboutSection .imageBorder {
  position: absolute;
  top: 60px;
  right: -70px;
  bottom: -70px;
  left: 60px;
  border: 7px solid #fbf7ea;
  z-index: -1;
}
body .aboutSection .aboutImage {
  width: 100%;
  height: 100%;
  position: relative;
}
body .aboutSection .aboutImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .latestNews {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 4.5% 0 6% 0;
  background-color: #dff0f0;
  color: black;
  align-items: center;
}
body .latestNews p {
  max-width: 445px;
}
body .latestNews .titleLast {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  margin-bottom: 45px;
}
body .latestNews .titleLast span {
  transform: rotate(90deg);
  font-size: 70px;
  margin-top: -10px;
}
body .latestNews .titleLast h2 {
  font-size: 4rem;
}
body .latestNews .news {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 75%;
  justify-content: center;
  margin-top: 25px;
  gap: 20%;
}
body .latestNews .news .newsPicture {
  display: flex;
  align-self: auto;
  width: 422px;
  height: 264px;
  background-size: cover;
  background-position: center;
  position: relative;
}
body .latestNews .news .banner {
  position: absolute;
  top: 13px;
  font-size: 25px;
  font-weight: 600;
  color: white;
  align-items: center;
  left: -25px;
  width: 365px;
  height: 66px;
  padding: 15px 55px 15px 35px;
  background-color: #35d0ba;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
body .latestNews .mainNews {
  margin-top: 0;
  max-width: 600px;
}
body .latestNews .mainNews .newsPicture {
  width: 825px;
  height: 450px;
}
body .latestNews .mainNews .title-main {
  max-width: 800px !important;
  width: 800px;
  margin-top: 15px;
  color: #222222;
}
body .latestNews .mainNews .title-main:hover {
  color: #646363;
  cursor: pointer;
}
body .latestNews .mainNews .subtitle-main {
  max-width: 800px !important;
  width: 800px;
  margin-top: 15px;
  color: #222222;
}
body .latestNews .mainNews .more {
  background: linear-gradient(to right, #f54674, #f348a4);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
  padding: 7.5px 41px 9px 36px;
  text-decoration: none;
  border-radius: 25px;
  margin: auto;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
body .latestNews .mainNews .more:hover {
  background: linear-gradient(to left, #f54674, #f348a4);
}
body .latestNews .secondary {
  max-width: 440px;
}
body .latestNews .secondary a {
  color: #1f2833;
  text-decoration: none;
}
body .latestNews .secondary .title-sec {
  margin-top: 5px;
}
body .latestNews .secondary .title-sec a:hover {
  color: #646363;
  cursor: pointer;
}
body .showEvents {
  display: grid;
  grid-column: 4;
  grid-row: 2;
  width: 100%;
  min-height: 100vh;
  padding: 150px 75px 150px 75px;
  align-items: center;
  background-color: #2D2D2D;
}
body .showEvents .eventTop {
  display: flex;
  flex-direction: row;
  gap: 0;
}
body .showEvents .eventDown {
  display: flex;
  flex-direction: row;
  gap: 0;
}
body .showEvents .event {
  width: 25%;
  height: 55vh;
  padding: 0 30px;
  color: black;
  background-color: #FBF7EA;
  position: relative;
}
body .showEvents .event .book-ticket {
  position: absolute;
  font-size: x-large;
  bottom: 60px;
}
body .showEvents .event .book-ticket p {
  color: #A8A394;
}
body .showEvents .event .book-ticket a img {
  transition: transform 0.2s ease-in-out;
}
body .showEvents .event .book-ticket a img:hover {
  transform: translateX(5px);
}
body .showEvents p {
  margin-top: 25px;
  font-size: large;
  color: #A8A394;
}
body .showEvents a {
  color: #f54674;
  text-decoration: none;
  font-size: xx-large;
}
body .showEvents .book {
  margin: 0 0 2.5px 25px;
  width: 57px;
  height: 38px;
}
body .showEvents .image {
  width: 25%;
  height: 55vh;
  background-color: rgb(190, 190, 190);
  background-size: cover;
  background-position: center;
}
body .showEvents span {
  width: 150px;
  height: 200px;
  background-color: black;
}

@media (min-width: 1193px) and (max-width: 1440px) {
  .firstSection {
    height: 82vh !important;
  }
  .firstSection .festivalImage {
    background-size: contain !important;
  }
  .showEvents .event .book-ticket a {
    font-size: x-large;
  }
}/*# sourceMappingURL=styleHomePage.css.map */